.sidebar-container {
  background-color: #2f667f;
  max-width: 265.33px;
  height: 100vh;
  padding: 20px;
  border-radius: 35.56px;
  opacity: 1;
  box-shadow: 8.89px 8.89px 12.62px 0px rgba(0, 0, 0, 0.4);

  > div:nth-child(1) {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    margin-top: 10px;
  }

  > div:nth-child(2) {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin-top: 20px;

    img {
      width: 42.67px;
      height: 42.67px;
    }

    h1 {
      font-family: "Poppins";
      font-size: 42.67px;
      font-weight: 600;
      text-align: left;
      color: #ffffff;
      margin: 0;
      font-family: Poppins;
    }
  }

  .menuOptions {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 40px;
    gap: 10px;

    li {
      display: flex;
      align-items: center;
      gap: 10px;
      list-style: none;
      cursor: pointer;
      border-radius: 17.78px;
      padding: 10px 20px;
      color: #ffffff;
      span {
        font-family: "Poppins";
        font-size: 17.78px;
        font-weight: 400;
        line-height: 17.78px;
        text-align: center;
      }
    }

    .active {
      background-color: #539bbb;
      width: 176.44px;
      height: 62.22px;
      padding: 0px 22.22px 0px 22.22px;
      gap: 15.11px;
      border-radius: 17.78px;
      opacity: 0px;

      span {
        color: #ffffff;
      }
    }
  }

  hr {
    border: none;
    height: 2px;
    width: 100%;
    background-color: #ffffff;
    margin: 20px 0;
    margin-top: 90px;
  }
  ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;

    li {
      display: flex;
      align-items: center;
      gap: 10px;
      list-style: none;
      cursor: pointer;
      border-radius: 17.78px;
      padding: 10px 20px;
     
      span {
        font-family: "Poppins";
        font-size: 17.78px;
        font-weight: 400;
        line-height: 17.78px;
      }
    }
  }
  .link {
    text-decoration: none;
    color: #ffffff;
    display: flex;
    gap: 5px;
  }
}
