#root {
  box-sizing: border-box;
  width: 100vw;
  min-height: 1000px;
  height: 100vh;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: #fff;
}
.App {
  display: flex;
  width: 1240.22px;
  height: 833px;
  padding: 106.67px 0px 0px 0px;
  gap: 27.56px;
  opacity: 0px;
}
